#inputData {
    width: 700px;
}

@media screen and (max-width: 700px) {
    #inputData {
        width: 500px;
    }
}
@media screen and (max-width: 500px) {
    #inputData {
        width: 300px;
    }
}